<?xml version='1.0'?>

<robot name="trixy" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
<link name="casco">
<visual>
<origin xyz="0 0 0" rpy="0 -0 0" />
<geometry>
<mesh filename="package://mergulhao/urdf/casco.stl"/>
</geometry>
<material name="casco_material">
<color rgba="0.32549 0.529412 0.752941 1.0"/>
</material>
</visual>
<collision>
<origin xyz="0 0 0" rpy="0 -0 0" />
<geometry>
<mesh filename="package://mergulhao/urdf/casco.stl"/>
</geometry>
<material name="casco_material">
<color rgba="0.32549 0.529412 0.752941 1.0"/>
</material>
</collision>
<inertial>
<origin xyz="0.0274366 6.89961e-06 -0.053626" rpy="0 0 0"/>
<mass value="1.36255" />
<inertia ixx="0.00486446" ixy="3.48941e-06"  ixz="0.000214152" iyy="0.0164359" iyz="-8.49228e-07" izz="0.0173907" />
</inertial>
</link>

<link name="thruster_base">
<visual>
<origin xyz="7.38165e-18 0.00424822 -0.049" rpy="4.93038e-32 7.31806e-32 -6.78879e-80" />
<geometry>
<mesh filename="package://mergulhao/urdf/thruster_base.stl"/>
</geometry>
<material name="thruster_base_material">
<color rgba="0.792157 0.819608 0.933333 1.0"/>
</material>
</visual>
<collision>
<origin xyz="7.38165e-18 0.00424822 -0.049" rpy="4.93038e-32 7.31806e-32 -6.78879e-80" />
<geometry>
<mesh filename="package://mergulhao/urdf/thruster_base.stl"/>
</geometry>
<material name="thruster_base_material">
<color rgba="0.792157 0.819608 0.933333 1.0"/>
</material>
</collision>
<inertial>
<origin xyz="-9.26481e-07 0.000196263 -0.0484144" rpy="0 0 0"/>
<mass value="183.458" />
<inertia ixx="0.16158" ixy="-1.24113e-06"  ixz="-1.15742e-06" iyy="0.178593" iyz="-0.000679623" izz="0.157026" />
</inertial>
</link>

<joint name="casco_thruster" type="fixed">
<origin xyz="-0.00420826 -2.44379e-10 -0.12" rpy="7.66335e-47 1.31372e-46 -1.5708" />
<parent link="casco" />
<child link="thruster_base" />
<axis xyz="0 0 1"/>
<limit effort="1" velocity="20" />
<joint_properties friction="0.0"/>
</joint>


<link name="thruster_helice">
<visual>
<origin xyz="-7.08857e-17 -5.55112e-16 -0.009842" rpy="-1.5708 5.84663e-16 -1.75162e-46" />
<geometry>
<mesh filename="package://mergulhao/urdf/thruster_helice.stl"/>
</geometry>
<material name="thruster_helice_material">
<color rgba="0.792157 0.819608 0.933333 1.0"/>
</material>
</visual>
<collision>
<origin xyz="-7.08857e-17 -5.55112e-16 -0.009842" rpy="-1.5708 5.84663e-16 -1.75162e-46" />
<geometry>
<mesh filename="package://mergulhao/urdf/thruster_helice.stl"/>
</geometry>
<material name="thruster_helice_material">
<color rgba="0.792157 0.819608 0.933333 1.0"/>
</material>
</collision>
<inertial>
<origin xyz="1.43442e-08 2.23714e-06 -0.00230846" rpy="0 0 0"/>
<mass value="0.00921082" />
<inertia ixx="2.62673e-06" ixy="-3.02105e-10"  ixz="3.38867e-11" iyy="2.62649e-06" iyz="-4.77514e-11" izz="3.82582e-06" />
</inertial>
</link>


<joint name="helice_thruster" type="continuous">
<origin xyz="8.8784e-18 -0.0057414 -0.049" rpy="1.5708 7.31806e-32 9.86076e-32" />
<parent link="thruster_base" />
<child link="thruster_helice" />
<axis xyz="0 0 1"/>
<limit effort="10000" velocity="1000"/>
<joint_properties damping ="0.0" friction="0.0"/>
</joint>

<link name="sonar_ping360">
<visual>
<origin xyz="0 0.00135122 -0.0401341" rpy="-1.5708 -0 0" />
<geometry>
<mesh filename="package://mergulhao/urdf/sonar_ping360.stl"/>
</geometry>
<material name="sonar_ping360_material">
<color rgba="0.615686 0.811765 0.929412 1.0"/>
</material>
</visual>
<collision>
<origin xyz="0 0.00135122 -0.0401341" rpy="-1.5708 -0 0" />
<geometry>
<mesh filename="package://mergulhao/urdf/sonar_ping360.stl"/>
</geometry>
<material name="sonar_ping360_material">
<color rgba="0.615686 0.811765 0.929412 1.0"/>
</material>
</collision>
<inertial>
<origin xyz="-8.51618e-09 0.000336838 -0.0424682" rpy="0 0 0"/>
<mass value="325.854" />
<inertia ixx="0.286317" ixy="-7.7018e-08"  ixz="-7.21529e-08" iyy="0.282082" iyz="-0.00323426" izz="0.208301" />
</inertial>
</link>

<joint name="sonar" type="fixed">
<origin xyz="0.15282 0 -0.075" rpy="1.5708 -0 -1.5708" />
<parent link="casco" />
<child link="sonar_ping360" />
<axis xyz="0 0 1"/>
<limit effort="1" velocity="20" />
<joint_properties friction="0.0"/>
</joint>

<link name="penetrator_sonar">
<visual>
<origin xyz="0 0 0" rpy="3.14159 -0 0" />
<geometry>
<mesh filename="package://mergulhao/urdf/penetrator_sonar.stl"/>
</geometry>
<material name="penetrator_sonar_material">
<color rgba="1 0 0 1.0"/>
</material>
</visual>
<collision>
<origin xyz="0 0 0" rpy="3.14159 -0 0" />
<geometry>
<mesh filename="package://mergulhao/urdf/penetrator_sonar.stl"/>
</geometry>
<material name="penetrator_sonar_material">
<color rgba="1 0 0 1.0"/>
</material>
</collision>
<inertial>
<origin xyz="-3.41256e-07 1.23041e-06 0.00207195" rpy="0 0 0"/>
<mass value="0.00763249" />
<inertia ixx="9.47319e-07" ixy="-4.99877e-12"  ixz="1.26332e-10" iyy="9.66562e-07" iyz="1.54418e-10" izz="2.68146e-07" />
</inertial>
</link>

<joint name="pntr_sonar" type="fixed">
<origin xyz="0.12382 0 -0.0226" rpy="-3.14159 1.5708 0" />
<parent link="casco" />
<child link="penetrator_sonar" />
<axis xyz="0 0 1"/>
<limit effort="1" velocity="20" />
<joint_properties friction="0.0"/>
</joint>


<link name="nut_thruster">
<visual>
<origin xyz="8.753e-05 -0.000210673 -0.016" rpy="0 -0 0" />
<geometry>
<mesh filename="package://mergulhao/urdf/nut_thruster.stl"/>
</geometry>
<material name="nut_thruster_material">
<color rgba="0 0 0 1.0"/>
</material>
</visual>
<collision>
<origin xyz="8.753e-05 -0.000210673 -0.016" rpy="0 -0 0" />
<geometry>
<mesh filename="package://mergulhao/urdf/nut_thruster.stl"/>
</geometry>
<material name="nut_thruster_material">
<color rgba="0 0 0 1.0"/>
</material>
</collision>
<inertial>
<origin xyz="9.21926e-05 -0.000211283 -0.00800001" rpy="0 0 0"/>
<mass value="0.00744372" />
<inertia ixx="3.21983e-07" ixy="3.23981e-12"  ixz="-2.14877e-11" iyy="3.47049e-07" iyz="-1.63031e-10" izz="3.58177e-07" />
</inertial>
</link>

<joint name="nut_thruster" type="fixed">
<origin xyz="-0.033384 -8.13152e-19 -0.083" rpy="0 -0 0" />
<parent link="casco" />
<child link="nut_thruster" />
<axis xyz="0 0 1"/>
<limit effort="1" velocity="20" />
<joint_properties friction="0.0"/>
</joint>

<link name="penetrator_thruster">
<visual>
<origin xyz="0 0 0" rpy="3.14159 -0 0" />
<geometry>
<mesh filename="package://mergulhao/urdf/penetrator_thruster.stl"/>
</geometry>
<material name="penetrator_thruster_material">
<color rgba="0.25098 0.25098 0.25098 1.0"/>
</material>
</visual>
<collision>
<origin xyz="0 0 0" rpy="3.14159 -0 0" />
<geometry>
<mesh filename="package://mergulhao/urdf/penetrator_thruster.stl"/>
</geometry>
<material name="penetrator_thruster_material">
<color rgba="0.25098 0.25098 0.25098 1.0"/>
</material>
</collision>
<inertial>
<origin xyz="1.1339e-06 3.32096e-07 -0.000844262" rpy="0 0 0"/>
<mass value="0.00667911" />
<inertia ixx="9.39755e-07" ixy="5.76856e-12"  ixz="7.58764e-11" iyy="9.67415e-07" iyz="1.67125e-10" izz="2.93346e-07" />
</inertial>
</link>

<joint name="pntr_th" type="fixed">
<origin xyz="-0.033384 0 -0.08" rpy="3.14159 -0 0" />
<parent link="casco" />
<child link="penetrator_thruster" />
<axis xyz="0 0 1"/>
<limit effort="1" velocity="20" />
<joint_properties friction="0.0"/>
</joint>

<link name="nut_sonar">
<visual>
<origin xyz="-0.000226036 -2.95444e-05 0" rpy="3.14159 -0 0" />
<geometry>
<mesh filename="package://mergulhao/urdf/nut_sonar.stl"/>
</geometry>
<material name="nut_sonar_material">
<color rgba="1 0 0 1.0"/>
</material>
</visual>
<collision>
<origin xyz="-0.000226036 -2.95444e-05 0" rpy="3.14159 -0 0" />
<geometry>
<mesh filename="package://mergulhao/urdf/nut_sonar.stl"/>
</geometry>
<material name="nut_sonar_material">
<color rgba="1 0 0 1.0"/>
</material>
</collision>
<inertial>
<origin xyz="-0.000220262 -3.69763e-05 -0.00399998" rpy="0 0 0"/>
<mass value="0.00367746" />
<inertia ixx="1.00976e-07" ixy="-4.38025e-15"  ixz="5.75411e-11" iyy="1.12562e-07" iyz="4.46138e-11" izz="1.75803e-07" />
</inertial>
</link>

<joint name="nut_sonar" type="fixed">
<origin xyz="0.119455 -2.15824e-18 -0.0226" rpy="-3.14159 -1.5708 0" />
<parent link="casco" />
<child link="nut_sonar" />
<axis xyz="0 0 1"/>
<limit effort="1" velocity="20" />
<joint_properties friction="0.0"/>
</joint>

<link name="eixo_flap_base">
<visual>
<origin xyz="0 0 0.0525" rpy="-1.5708 -0 0" />
<geometry>
<mesh filename="package://mergulhao/urdf/eixo_flap_base.stl"/>
</geometry>
<material name="eixo_flap_base_material">
<color rgba="0.647059 0.647059 0.647059 1.0"/>
</material>
</visual>
<collision>
<origin xyz="0 0 0.0525" rpy="-1.5708 -0 0" />
<geometry>
<mesh filename="package://mergulhao/urdf/eixo_flap_base.stl"/>
</geometry>
<material name="eixo_flap_base_material">
<color rgba="0.647059 0.647059 0.647059 1.0"/>
</material>
</collision>
<inertial>
<origin xyz="1.97931e-20 0.000216681 0.0512926" rpy="0 0 0"/>
<mass value="0.0524351" />
<inertia ixx="9.96193e-05" ixy="0"  ixz="0" iyy="9.9509e-05" iyz="6.11175e-07" izz="5.84093e-07" />
</inertial>
</link>

<joint name="b_eixo_flap_l" type="fixed">
<origin xyz="-0.0627976 -0.0590786 -0.0364809" rpy="1.5708 -0 0" />
<parent link="casco" />
<child link="eixo_flap_base" />
<axis xyz="0 0 1"/>
<limit effort="1" velocity="20" />
<joint_properties friction="0.0"/>
</joint>


<link name="eixo_flap_base_2">
<visual>
<origin xyz="0 0 0.0525" rpy="-1.5708 1.51929e-63 0" />
<geometry>
<mesh filename="package://mergulhao/urdf/eixo_flap_base.stl"/>
</geometry>
<material name="eixo_flap_base_material">
<color rgba="0.647059 0.647059 0.647059 1.0"/>
</material>
</visual>
<collision>
<origin xyz="0 0 0.0525" rpy="-1.5708 1.51929e-63 0" />
<geometry>
<mesh filename="package://mergulhao/urdf/eixo_flap_base.stl"/>
</geometry>
<material name="eixo_flap_base_material">
<color rgba="0.647059 0.647059 0.647059 1.0"/>
</material>
</collision>
<inertial>
<origin xyz="1.97931e-20 0.000216681 0.0512926" rpy="0 0 0"/>
<mass value="0.0524351" />
<inertia ixx="9.96193e-05" ixy="3.02534e-67"  ixz="9.28552e-70" iyy="9.9509e-05" iyz="6.11175e-07" izz="5.84093e-07" />
</inertial>
</link>


<joint name="b_eixo_flap_r" type="fixed">
<origin xyz="-0.0627976 0.0590786 -0.0364809" rpy="1.5708 3.08149e-32 -3.14159" />
<parent link="casco" />
<child link="eixo_flap_base_2" />
<axis xyz="0 0 1"/>
<limit effort="1" velocity="20" />
<joint_properties friction="0.0"/>
</joint>

<link name="eixo_flap_base_3">
<visual>
<origin xyz="0 0 0.0525" rpy="-1.5708 -7.67046e-93 1.53287e-107" />
<geometry>
<mesh filename="package://mergulhao/urdf/eixo_flap_base.stl"/>
</geometry>
<material name="eixo_flap_base_material">
<color rgba="0.647059 0.647059 0.647059 1.0"/>
</material>
</visual>
<collision>
<origin xyz="0 0 0.0525" rpy="-1.5708 -7.67046e-93 1.53287e-107" />
<geometry>
<mesh filename="package://mergulhao/urdf/eixo_flap_base.stl"/>
</geometry>
<material name="eixo_flap_base_material">
<color rgba="0.647059 0.647059 0.647059 1.0"/>
</material>
</collision>
<inertial>
<origin xyz="1.97931e-20 0.000216681 0.0512926" rpy="0 0 0"/>
<mass value="0.0524351" />
<inertia ixx="9.96193e-05" ixy="-7.6328e-97"  ixz="-4.68799e-99" iyy="9.9509e-05" iyz="6.11175e-07" izz="5.84093e-07" />
</inertial>
</link>

<joint name="b_eixo_rud" type="fixed">
<origin xyz="0.0801351 2.75546e-19 -0.072059" rpy="3.14159 2.59085e-77 -1.5708" />
<parent link="casco" />
<child link="eixo_flap_base_3" />
<axis xyz="0 0 1"/>
<limit effort="1" velocity="20" />
<joint_properties friction="0.0"/>
</joint>

<link name="tampa_casco">
<visual>
<origin xyz="-0.18516 -2.38777e-18 0" rpy="3.14159 -0 0" />
<geometry>
<mesh filename="package://mergulhao/urdf/tampa_casco.stl"/>
</geometry>
<material name="tampa_casco_material">
<color rgba="0.32549 0.529412 0.752941 1.0"/>
</material>
</visual>
<collision>
<origin xyz="-0.18516 -2.38777e-18 0" rpy="3.14159 -0 0" />
<geometry>
<mesh filename="package://mergulhao/urdf/tampa_casco.stl"/>
</geometry>
<material name="tampa_casco_material">
<color rgba="0.32549 0.529412 0.752941 1.0"/>
</material>
</collision>
<inertial>
<origin xyz="-0.188838 -0.000208789 -0.0224736" rpy="0 0 0"/>
<mass value="0.885526" />
<inertia ixx="0.00215907" ixy="3.35604e-06"  ixz="-9.28542e-05" iyy="0.0105401" iyz="-3.97594e-06" izz="0.0122909" />
</inertial>
</link>

<joint name="tampa_casco" type="fixed">
<origin xyz="-0.185162 2.38777e-18 0" rpy="3.14159 -0 3.14159" />
<parent link="casco" />
<child link="tampa_casco" />
<axis xyz="0 0 1"/>
<limit effort="1" velocity="20" />
<joint_properties friction="0.0"/>
</joint>


</robot>
